.playerOverlay {
  display: none;
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}

.playerTabs {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
