@font-face {
  font-family: "Prototype";
  src: url("/assets/Prototype.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.container {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.6));
}

.value {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #000000;
  font-weight: 900;
  font-family: "Prototype", "Arial Black", "Arial", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.3);
  letter-spacing: 0.5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* Size variants */
.small {
  width: 24px;
  height: 24px;
}

.small .value {
  font-size: calc(24px * 0.5);
}

.medium {
  width: 32px;
  height: 32px;
}

.medium .value {
  font-size: calc(32px * 0.5);
}

.large {
  width: 40px;
  height: 40px;
}

.large .value {
  font-size: calc(40px * 0.5);
}
