@font-face {
  font-family: "Prototype";
  src: url("/assets/Prototype.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.container {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.productionBackground {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.3));
}

.resourceIcon {
  position: absolute;
  width: 70%;
  height: 70%;
  object-fit: contain;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.value {
  position: absolute;
  bottom: -2px;
  right: -2px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 8px;
  font-weight: bold;
  padding: 1px 3px;
  border-radius: 2px;
  font-family: "Prototype", "Arial Black", "Arial", sans-serif;
  line-height: 1;
}

/* Size variants */
.small {
  width: 16px;
  height: 16px;
}

.small .value {
  font-size: 6px;
  padding: 0px 2px;
}

.medium {
  width: 20px;
  height: 20px;
}

.medium .value {
  font-size: 7px;
  padding: 1px 2px;
}

.large {
  width: 24px;
  height: 24px;
}

.large .value {
  font-size: 8px;
  padding: 1px 3px;
}
