/* Corporation Logo Styles - From TM Cards List */

/* Robinson Industries */
.robinson {
  font-family: Prototype;
  font-size: 20px;
  line-height: 16px;
  width: 150px;
  padding-left: 4px;
  text-align: center;
  background: white;
  font-weight: normal;
}

/* Aridor Colony */
.aridor {
  font-family: Prototype;
  font-weight: normal;
  color: #c5c553;
  letter-spacing: 4px;
  background: #cc3333;
  border: 2px solid #c5c553;
  width: 150px;
  text-align: center;
  font-size: 30px;
  border-radius: 5px;
}

/* Polyphemos */
.polyphemos {
  font-family: Prototype;
  width: 180px;
  font-weight: normal;
  letter-spacing: 1px;
  text-align: center;
  font-size: 26px;
  border-bottom: 3px solid #cc3333;
  border-top: 3px solid #cc3333;
}

.polyphemos2 {
  color: #cc3333;
  background: white;
  padding: 2px;
}

/* Poseidon */
.poseidon {
  display: inline-block;
  font-family: "Times New Roman", Arial;
  background: linear-gradient(
    rgba(0, 0, 0, 0) 0%,
    #3633ff 20%,
    rgba(0, 0, 0, 0) 22%,
    #3633ff 50%,
    rgba(0, 0, 0, 0) 78%,
    #3633ff 80%,
    rgba(0, 0, 0, 0) 100%
  );
  line-height: 50px;
  color: #fff;
  width: 180px;
  font-weight: normal;
  letter-spacing: 2px;
  text-align: center;
  font-size: 30px;
  border-radius: 0% 100% 0% 75%;
}

/* Stormcraft */
.stormcraft1 {
  display: inline-block;
  color: white;
  background: #ff9900;
  line-height: 50px;
  width: 83px;
  text-align: center;
  font-size: 24px;
  border-radius: 100% 0 50% 0;
}

.stormcraft2 {
  display: inline-block;
  line-height: 50px;
  width: 85px;
  text-align: center;
  font-size: 24px;
}

.stormcraft3 {
  font-size: 10px;
  letter-spacing: 2px;
  color: white;
  font-weight: normal;
  transform: scaleX(1.7);
  font-family: Prototype;
}

.stormcraft4 {
  transform: scaleX(1.7);
  font-family: Prototype;
  letter-spacing: 2px;
  font-size: 10px;
  font-weight: normal;
}

/* Utopia Invest */
.utopia {
  background: green;
  color: white;
  font-family: Prototype;
  text-align: center;
  width: 160px;
  padding: 2px;
  border-top: 3px solid #09aa09;
  border-left: 3px solid #09aa09;
  border-right: 3px solid #005100;
  border-bottom: 3px solid #005100;
}

.utopia1 {
  font-size: 20px;
  transform: scaleX(1.5);
  letter-spacing: 5px;
}

.utopia2 {
  font-size: 10px;
  letter-spacing: 16px;
}

/* Factorum */
.factorum {
  color: #ee792b;
  letter-spacing: 5px;
  font-size: 30px;
  transform: scaleX(0.7);
}

/* Mons Insurance */
.mons {
  background: rgb(200, 110, 35);
  color: white;
  text-align: center;
  width: 80px;
  height: 75px;
  box-shadow: 0px 0px 2px 1px #222;
}

.mons0 {
  font-size: 38px;
  transform: scaleX(2.5);
}

.mons1 {
  letter-spacing: 5px;
  font-size: 20px;
  margin-top: -24px;
  margin-left: 5px;
}
.mons2 {
  margin-top: 0px;
  letter-spacing: 3px;
  margin-left: 2px;
  font-size: 7px;
}

/* Philares */
.philares {
  color: #444;
  filter: drop-shadow(0 0 1px black);
  letter-spacing: 4px;
  font-size: 20px;
  transform: scaleX(1.5);
}

/* Septem Tribus */
.septem {
  color: white;
  font-family: Times;
  font-size: 30px;
}

/* Astrodrill */
.astrodrill {
  color: #d8d891;
  letter-spacing: 2px;
  border-top: 3px solid orange;
  border-radius: 50% 50% 0 0;
  width: 150px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

/* Celestic */
.celestic {
  font-family: Prototype;
}

/* Manutech */
.manutech {
  font-family: Prototype;
}

/* Vitor */
.vitor {
  font-family: Prototype;
}

/* Arklight */
.arklight {
  font-family: Prototype;
}

/* Splice */
.splice {
  font-family: Prototype;
}

/* Ecotec */
.ecotec {
  font-family: Prototype;
}

/* Missing utility classes */
.mining.guild,
.point.luna,
.INTERPLANETARY.CINEMATICS,
.NIRGAL {
  font-family: Prototype;
}

/* Background color utilities */
.background-color-active {
  background: linear-gradient(-60deg, #208cdf 10%, #208cdf88, #208cdf 90%);
}

/* Resource icons */
.resource {
  font-family: Prototype;
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 22px;
  line-height: 30px;
  background-size: 30px;
  filter: drop-shadow(0px 0px 1px black);
  vertical-align: middle;
}
