.gameLayout {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 100vw;
  height: 100vh;
  background: #000011 url("/assets/background-noise.png");
  background-attachment: fixed;
  background-repeat: repeat;
  color: white;
  overflow: hidden;
}

.gameContent {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 0;
  gap: 0;
  position: relative;
}

@media (max-width: 1200px) {
  .gameContent {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 900px) {
  .gameContent {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .gameContent {
    grid-template-columns: 1fr;
  }
}
